<div class="modal">
  <div class="modal-header">
    <button class="icon-btn" (click)="closeModal()">X</button>
  </div>
  <div *ngIf="!displayForm; then detailsTemplate else formTemplate">
  </div>
</div>

<ng-template #detailsTemplate>
  <div class="modal-container">
    <div class="img-container">
      <img src="../../assets/images/hotel.jpg">
    </div>
    <div>
      <div class="modal-title">{{data?.title}}</div>
      <div class="additional-info">3.4 KM from the city center</div>
      <div class="price">£ 98</div>
      <div class="additional-info">Designs may vary</div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="showForm()" class="success-btn modal-action-btn" type="button">BOOK</button>
  </div>
</ng-template>

<ng-template #formTemplate>
  <form (ngSubmit)="onSubmit()" [formGroup]="bookForm" class="book-form">
    <div>
      <label for="fullName">
        Full Name:
      </label>
      <input class="form-input" formControlName="fullName" id="fullName" required type="text">
      <div *ngIf="bookForm.get('fullName')?.hasError('required') && bookForm.get('fullName')?.touched"
           class="error-message">
        Full Name is required
      </div>
    </div>
    <div>
      <label for="email">
        Email:
      </label>
      <input class="form-input" formControlName="email" id="email" required type="email">
      <div *ngIf="bookForm.get('email')?.hasError('required') && bookForm.get('email')?.touched" class="error-message">
        Email is required
      </div>
      <div *ngIf="bookForm.get('email')?.hasError('email')" class="error-message">
        Please enter a valid address mail
      </div>
    </div>
    <div class="form-footer">
      <button (click)="closeModal()" class="cancel-btn" type="button">Cancel</button>
      <button [disabled]="!bookForm.valid" class="success-btn" type="submit">Submit</button>
    </div>
  </form>
</ng-template>

<div id="toast">Congratulations!</div>
